<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @list.photo.key, crop: :fill %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <p><%= link_to "Add a movie to this list!", new_list_bookmark_path(@list), class: "btn btn-flat" %></p>
  </div>
</div>

<div class="container">
  <% @movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie:movie, list:@list) %>
    <div class="card-product">
    <img src="<%= movie.poster_url %>" />
    <div class="card-product-infos">
      <h2><%= "#{movie.title}" %> <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?"}  %></h2>
      <p><%= "#{movie.overview}" %></p>
      <p><%= "Average Rating: #{movie.rating}" %></p>
    </div>
    </div>
  <% end %>

  <p><%= link_to "Back to all Lists", root_path, class: "btn btn-flat" %> </p>
</div>


